:root {
  color-scheme: light dark;
}

.mainLayout {
  height: 100svh;
  display: grid;
  grid-template-columns: auto 1fr;
  gap: 1rem;
}

.nav {
  display: flex;
  flex-direction: column;
  gap: 0.25rem;
}

.iframe {
  width: 100%;
  height: 100%;
  border: 0 none;
}
